@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  overflow-x: hidden;
   font-family: "Space Grotesk", sans-seri;
}